### Gitignore by Github
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

### Gitignore by Lift
# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store

# logs
*.log

# eclipse conf file
.settings
.classpath
.project
.manager
.externalToolBuilders

# ensime/emacs conf files
.ensime
.scala_dependencies
.ensime_cache

# building
target
null
tmp*
dist
test-output

# sbt
target
lib_managed
src_managed
project/boot
/.history
/.cache
/extsrc


# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Pax Runner (for easy OSGi launching)
runner


registry/certs
registry/docker
registry/scheduler-state.json
haproxy/haproxy.conf
/bin/
.cache-main
.cache-tests
